
@font-face {
  font-family: 'Factor A';
  src: url('./factorA/FactorALight-Regular.eot');
  src: local('Factor A Light Regular'), local('FactorALight-Regular'),
  url('./factorA/FactorALight-Regular.eot?#iefix') format('embedded-opentype'),
  url('./factorA/FactorALight-Regular.woff2') format('woff2'),
  url('./factorA/FactorALight-Regular.woff') format('woff'),
  url('./factorA/FactorALight-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('./factorA/FactorA-Regular.eot');
  src: local('Factor A Regular'), local('FactorA-Regular'),
  url('./factorA/FactorA-Regular.eot?#iefix') format('embedded-opentype'),
  url('./factorA/FactorA-Regular.woff2') format('woff2'),
  url('./factorA/FactorA-Regular.woff') format('woff'),
  url('./factorA/FactorA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('./factorA/FactorAMedium-Regular.eot');
  src: local('Factor A Medium Regular'), local('FactorAMedium-Regular'),
  url('./factorA/FactorAMedium-Regular.eot?#iefix') format('embedded-opentype'),
  url('./factorA/FactorAMedium-Regular.woff2') format('woff2'),
  url('./factorA/FactorAMedium-Regular.woff') format('woff'),
  url('./factorA/FactorAMedium-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Factor A';
  src: url('./factorA/FactorA-Bold.eot');
  src: local('Factor A Bold'), local('FactorA-Bold'),
  url('./factorA/FactorA-Bold.eot?#iefix') format('embedded-opentype'),
  url('./factorA/FactorA-Bold.woff2') format('woff2'),
  url('./factorA/FactorA-Bold.woff') format('woff'),
  url('./factorA/FactorA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('./gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('./gilroy/Gilroy-Regular.woff') format('woff'),
  url('./gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-ExtraboldItalic.eot');
  src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
  url('./gilroy/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-ExtraboldItalic.woff') format('woff'),
  url('./gilroy/Gilroy-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Bold.eot');
  src: local('./gilroy/Gilroy Bold'), local('Gilroy-Bold'),
  url('./gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Bold.woff2') format('woff2'),
  url('./gilroy/Gilroy-Bold.woff') format('woff'),
  url('./gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
  url('./gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Black.woff2') format('woff2'),
  url('./gilroy/Gilroy-Black.woff') format('woff'),
  url('./gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('./gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Light.woff2') format('woff2'),
  url('./gilroy/Gilroy-Light.woff') format('woff'),
  url('./gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Semibold.eot');
  src: local('./gilroy/Gilroy Semibold'), local('Gilroy-Semibold'),
  url('./gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Semibold.woff2') format('woff2'),
  url('./gilroy/Gilroy-Semibold.woff') format('woff'),
  url('./gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('./gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Medium.woff2') format('woff2'),
  url('./gilroy/Gilroy-Medium.woff') format('woff'),
  url('./gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-MediumItalic.eot');
  src: local('./gilroy/Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
  url('./gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-MediumItalic.woff') format('woff'),
  url('./gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
  url('./gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-BlackItalic.woff') format('woff'),
  url('./gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
  url('./gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-UltraLight.woff2') format('woff2'),
  url('./gilroy/Gilroy-UltraLight.woff') format('woff'),
  url('./gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
  url('./gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-RegularItalic.woff') format('woff'),
  url('./gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-SemiboldItalic.eot');
  src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
  url('./gilroy/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-SemiboldItalic.woff') format('woff'),
  url('./gilroy/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
  url('./gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-HeavyItalic.woff') format('woff'),
  url('./gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
  url('./gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Extrabold.woff2') format('woff2'),
  url('./gilroy/Gilroy-Extrabold.woff') format('woff'),
  url('./gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
  url('./gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-BoldItalic.woff') format('woff'),
  url('./gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
  url('./gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
  url('./gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
  url('./gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-LightItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-LightItalic.woff') format('woff'),
  url('./gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
  url('./gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Heavy.woff2') format('woff2'),
  url('./gilroy/Gilroy-Heavy.woff') format('woff'),
  url('./gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
  url('./gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-Thin.woff2') format('woff2'),
  url('./gilroy/Gilroy-Thin.woff') format('woff'),
  url('./gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./gilroy/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
  url('./gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
  url('./gilroy/Gilroy-ThinItalic.woff') format('woff'),
  url('./gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

